@charset "utf-8";
/* -------------------------------------------------
H1 
----------------------------------------------------*/
h1{
	background: #eee;
	text-align: center;
	font-weight: 100;
	margin: 0 0 80px 0;
    padding: 180px 0 80px 0;
}
h1 span{
	width:80%;
	margin:0 auto;
	display: block;
}


/* -------------------------------------------------
news sub 
----------------------------------------------------*/
.news_sub .cont{
	font-size:16px;
}
h2,
h3,
h4,
h5,
p,
ul,
ol,
a,
figure,
table{
	margin: 0 0 30px 0;
}
h2{	
    margin: 40px 0 10px 0;
    padding: 27px 0 0 0;
    border-top: 1px solid #000;
    font-size: 28px;
    line-height: 3.4rem;
}
time{
	margin: 0 0 40px 0;
	padding:0 0 10px 0;
	position: relative;
	display: block;
	border-bottom: 1px dotted #000;
	text-align: right;
	color:#eee;	
}
time:after{
	display: block;
    position: absolute;
    top: auto;
    right: auto;
    bottom: -1px;
    left: 0;
    width: 38px;
    height: 2px;
    background: #0842c7;
    content: "";
}
h3{
	font-size:20px;
	line-height:3rem;
	background: #eee;
	padding:10px 20px;
}
h4{
	font-size:18px;
	line-height:3rem;
}
h5{
	font-size:16px;
	line-height:2.2rem;
	font-weight: bold;
}
a{
	padding:0 10px 0 0;
}
a[target="_blank"] {
	position: relative;
	padding:0 15px 0 0;
}
a[target="_blank"]:before {
	content: " ";
	background: url(../../../common/img/icon_blank.png) no-repeat;
	background-size:12px 9px;
	width:12px;
	height:9px;
	position: absolute;
	top: 8px;
	right: 0;
}
p{
	font-size:16px;
	line-height:2.4rem;
}
ul li,
ol{
	line-height:2.4rem;
}
ul li{
    list-style: disc;
    padding: 0 8px;
    margin-left: 20px;
}
ol {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
} 
ol li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
ol li:before {
	content: counter(my-counter);
	counter-increment: my-counter;
	background-color: #000;
	color: #fff;
	display: block;
	float: left;
	line-height: 22px;
	margin-left: -30px;
	text-align: center;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	font-size:11px;
}
figure{
	margin:0 auto;
	text-align: center;
}
figure p{
	font-size:14px;
}
table{
	text-align: left;
}
table th,
table td{
	padding: 16px;
	border:1px solid #eee;
    line-height: 1.4;
}
table th{
	background: #eee;
}

/* -------------------------------------------------
SP  max-width: 640px
----------------------------------------------------*/
@media screen and (max-width: 640px) {	
	figure img{
		width:100%;
	}	
	
	h1{
		font-size:32px;
    	margin-bottom: 0;
		padding: 120px 0 80px 0;
		line-height:1.6em;
	}

}
